@keyframes wave {
  0%, 100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.cat__container {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
